<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add book</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" type="text/css"/>
    
<style>

html {
  overflow-y: scroll;
}

main{
	background: rgb(211,213,218);
	background: linear-gradient(212deg, rgba(211,213,218,1) 0%, rgba(157,157,163,1) 35%, rgba(156,168,171,1) 100%);	
}

</style>
</head>


<body class="d-flex flex-column min-vh-100">

	<div th:if="${#authorization.expression('isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsntSignedIn"></div>
	</div>
	
	<div th:if="${#authorization.expression('!isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsSignedIn"></div>
	</div>
	
	<main class="flex-grow-1 p-2 bd-highlight d-flex align-items-center"> 
		<div class="border border-dark mx-auto shadow-lg p-3 mb-5 bg-body rounded" id="el"style="height:550px;width:750px;">
			<form class="display-grid" th:action="@{/addComment(bookId=${book.id})}" th:object="${comment}" method="post">
				<div class="row mb-4 mt-4 align-items-center">
					<h2 class="text-center">Adding a new comment</h2>
						<div th:if="${param.error}" class="alert alert-danger mb-1 mt-1 w-50 m-auto text-center" role="alert">Comment text can't be empty</div>	
						<div th:if="${param.commentAdded}" class="alert alert-success  mb-1 mt-1 w-50 m-auto text-center">Comment added successfully</div>														
				</div>	
				
				<div class="row align-items-start mb-3">
					<div class="col-2">
						<p>Title:</p>
				 	</div>		
				 	<div class="col-9">						
					 	<p class="fw-bold"  th:text="${book.title}" ></p>	
				 	</div>					
				</div>	
				
				<div class="row align-items-start mb-3">
					<div class="col-2">
						<p>Author:</p>
				 	</div>		
				 	<div class="col-9">						
					 	<p class="fw-bold"  th:text="${book.author}" ></p>	
				 	</div>					
				</div>	
				
				<div class="row align-items-start mb-3">
					<div class="col-2">
						<label class="text-secondary" for="comment">Comment:</label>
				 	</div>		
				 	<div class="col-9">						
					 	<textarea class="form-control"rows="5" cols="20" id="commentText" th:value="${commentText}" name="commentText">
					 	</textarea>	
				 	</div>	
					
				</div>	
				
				<div class="row justify-content-center">
				    
				    	<button type="submit" class="btn btn-primary w-25">Add Comment</button>
				    
					
				</div>	
			 	
			</form>
		</div>
    
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer> 

	<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.js}"></script>
</body>



</html>