<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Books</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	type="text/css" />


</head>


<body class="d-flex flex-column min-vh-100">
	<div th:if="${#authorization.expression('isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsntSignedIn"></div>
	</div>

	<div th:if="${#authorization.expression('!isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsSignedIn"></div>
	</div>

	<main class="flex-grow-1 p-5 bd-highlight">
		<div class="card border-dark p-1 mt-5 m-auto" style="width: 22rem;">
			<div class="card-body">
				<p>Book title: </p><h3 class="card-title text-center" th:text="${book.title}" ></h3>
				<p>Book author:</p><h3 class="card-title text-center" th:text="${book.author}" ></h3>
			</div>
		</div>
	
		<div class="table-responsive w-auto m-auto mt-3">
			<table class="table table-hover w-50 m-auto caption-top">
				<caption>List of all comments for the specified book as well as the username of a user who posted the comment</caption>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Comment</th>
						<th scope="col">Username</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" th:each="comment, iterStat: ${listOfComments}">
	
						<th th:text="${iterStat.count}"></th>
						<td th:text="${comment.commentText}"></td>
						<td th:text="${comment.user.username}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"></footer>

	<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.js}"></script>
</body>



</html>