<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit book</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" type="text/css"/>
    
<style>

html {
  overflow-y: scroll;
}

main{
	background: rgb(211,213,218);
	background: linear-gradient(212deg, rgba(211,213,218,1) 0%, rgba(157,157,163,1) 35%, rgba(156,168,171,1) 100%);	
}

</style>
</head>


<body class="d-flex flex-column min-vh-100">

	<div th:if="${#authorization.expression('isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsntSignedIn"></div>
	</div>
	
	<div th:if="${#authorization.expression('!isAnonymous()')}">
		<div th:replace="fragments/header :: headerWhenUserIsSignedIn"></div>
	</div>
	
	<main class="flex-grow-1 p-2 bd-highlight d-flex align-items-center"> 
		<div class="border border-dark mx-auto shadow-lg p-3 mb-5 bg-body rounded" id="el"style="height:550px;width:750px;">
			<form class="display-grid" th:action="@{/editBook(bookId=${book.id})}" th:object="${book}" method="post">
				<div class="row mb-4 mt-4 align-items-center">
					<h2 class="text-center">Edit book</h2>	
						<div th:if="${param.bookEditSuccess}" class="alert alert-success mb-1 mt-1 w-50 m-auto text-center">
							<p >You have successfully saved changes to a book!</p>
						</div>									
						<div th:if="${#fields.hasErrors('*')}"  class="alert alert-danger mb-1 mt-1 pb-2 w-50 m-auto" role="alert">
							<ul>
						    	<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>   
						    </ul> 
						</div>					
					
				</div>	
				<div class="row align-items-start mb-3">
					<div class="col-2">
						<label class="text-secondary" for="title">Title:</label>
				 	</div>		
				 	<div class="col-9">						
					 	<input type="text" class="form-control" id="title" th:value="*{title}" name="title">
				 	</div>					
				</div>	
				
				<div class="row align-items-start mb-3">
					<div class="col-2">
						<label class="text-secondary" for="author">Author:</label>
				 	</div>		
				 	<div class="col-9">						
					 	<input type="text" class="form-control" id="author" th:value="*{author}" name="author">	
				 	</div>					
				</div>	
				
				
				<div class="row justify-content-center ">
				    	<a th:href="@{/profile}" class="btn btn-primary w-25 me-3">Go back</a>
				    	<button type="submit" class="btn btn-primary w-25">Save changes</button>
				</div>	

			 	
			</form>
		</div>
    
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer> 

	<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.js}"></script>
</body>



</html>